.banner {
  border-radius: 2rem;
  background: url("../../images/header.jpeg");
}

@media (min-width: 768px) {
  .banner {
    padding: 5rem !important;
    height: auto;
    width: inherit;
  }
}

.banner .banner-text {
  font-family: "Montserrat", sans-serif;
}

.banner .banner-text h1 {
  font-weight: 700;
}

.banner .banner-text a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner .banner-text a:visited {
  text-decoration: none;
}

.banner .banner-text a:focus, .banner .banner-text a:hover {
  padding: 0 1.25rem;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .banner .banner-text {
    width: 30vw;
  }
}

.newsBox {
  border-radius: 20px;
  background: #eb4a36;
}

@media (min-width: 375px) {
  .newsBox {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .newsBox {
    padding: 3rem 12.5rem;
  }
}

.newsBox .newsInput input[type="email"] {
  border: 2px solid #ffffff;
  background: transparent;
}

.newsBox .newsInput input[type="email"]::-webkit-input-placeholder {
  color: #ffffff;
}

.newsBox .newsInput input[type="email"]:-ms-input-placeholder {
  color: #ffffff;
}

.newsBox .newsInput input[type="email"]::-ms-input-placeholder {
  color: #ffffff;
}

.newsBox .newsInput input[type="email"]::placeholder {
  color: #ffffff;
}

.newsBox .newsInput input[type="submit"] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newsBox .newsInput input[type="submit"]:hover, .newsBox .newsInput input[type="submit"]:focus {
  opacity: 0.75;
}
