input[type="checkbox"]:checked ~ * {
  color: #808080 !important;
}

.recipe-class,
.recipe-tag {
  background-color: #eb4a36;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.recipe-class:hover, .recipe-class:focus,
.recipe-tag:hover,
.recipe-tag:focus {
  background-color: #eb4a36;
  opacity: 0.6;
}
