@import "./vars";

.banner {
  border-radius: 2rem;
  background: url("../../images/header.jpeg");
  @include md {
    padding: 5rem !important;
    @include htwt(auto, inherit);
  }

  .banner-text {
    font-family: $sans-ser;
    h1 {
      font-weight: 700;
    }
    a {
      text-decoration: none;
      transition: 0.5s;
      &:visited {
        text-decoration: none;
      }
      &:focus,
      &:hover {
        padding: 0 1.25rem;
        text-decoration: underline;
      }
    }
    @include md {
      width: 30vw;
    }
  }
}

.newsBox {
  border-radius: 20px;
  background: $clr-select;
  @include sm {
    padding: 2rem;
  }
  @include md {
    padding: 3rem 12.5rem;
  }

  .newsInput {
    input {
      &[type="email"] {
        border: 2px solid $clr-white;
        background: transparent;
        &::placeholder {
          color: $clr-white;
        }
      }
      &[type="submit"] {
        transition: 0.5s;
        &:hover,
        &:focus {
          opacity: 0.75;
        }
      }
    }
  }
}
