@import "./vars";
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  font-family: $sans-ser;
  @include md {
    padding: 0 3rem;
  }
}

.navbar {
  font-family: $sans-ser;
  .active {
    color: $clr-select !important;
  }
  &-brand {
    font-family: $cursive;
    color: $clr-5 !important;
  }
  a {
    color: $clr-5 !important;
    @include nav-link();
    &:hover:not(.navbar-brand),
    &:focus:not(.navbar-brand) {
      color: $clr-select !important;
    }
    &[role="button"] {
      background-color: $clr-select;
      color: $clr-white !important;
      &:hover,
      &:focus {
        color: $clr-5 !important;
      }
    }
  }
}

.accordion-link {
  font-family: $sans-ser;
  a {
    text-decoration: none;
    color: $clr-5;
    transition: 0.5s ease-in-out;
    &:visited {
      text-decoration: none;
    }
    &:focus,
    &:hover {
      padding: 0 1.25rem;
      text-decoration: underline;
      color: $clr-select;
    }
  }
}

.recipe-card {
  font-family: $sans-ser;
  border: 1px solid $clr-select;
  transition: 0.5s;
  img {
    height: 10rem;
    border-radius: 0;
  }
  &:hover {
    img {
      opacity: 0.75;
    }
  }
}

.search-bar {
  background: $clr-search;

  .SearchRange,
  .SearchType {
    @include sm {
      width: 100%;
    }
    @include md {
      width: 15%;
    }
  }

  .search-div {
    .search-icon,
    .search-text {
      background: transparent;
    }
    .search-btn {
      transition: 0.5s;
      &:hover {
        color: $clr-white;
        background: $clr-black;
      }
    }
  }
}

footer {
  .smicon {
    @include htwt(2rem, 2rem);
    border: 2px solid;

    @include borderIcon("fa", $faClr);
    @include borderIcon("ig", $igClr);
    @include borderIcon("tw", $twClr);
    @include borderIcon("gh", $ghClr);

    .fab {
      font-size: 1rem;
    }
  }
}
