@import "./vars.scss";

input[type="checkbox"]:checked {
  // & + span,
  // & + label,
  // & ~ p {
  & ~ * {
    color: $clr-grey !important;
  }
}

.recipe-class,
.recipe-tag {
  background-color: $clr-select;
  transition: 0.5s;
  &:hover,
  &:focus {
    background-color: $clr-select;
    opacity: 0.6;
  }
}
