@import "./vars";

.leftDiv {
  font-family: $sans-ser;
  h1 {
    font-weight: 650;
  }
  button {
    background: $clr-select !important;
    transition: 0.5s;
    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.rightDiv {
  border-radius: 1rem;
  background: $clr-select;
  form {
    input,
    textarea {
      background: transparent;
      &[type="submit"] {
        transition: 0.5s;
        &:hover,
        &:focus {
          opacity: 0.75;
        }
      }
    }
    #messageInp {
      border-radius: 1.5rem;
    }
  }
}
